// ***** General*****
* {
  margin: 0;
  font-family: "Roboto", serif;
  box-sizing: border-box;
}

.title {
  font-weight: bold;
}

.title-logo {
  font-family: "Shrikhand", serif;
  font-weight: lighter;
  font-size: 1.2em;
}
.subtitle {
  font-weight: lighter;
}

// ***** Colors *****
$purple: #9356dc;
$pink: #ff79da;
$turquoise: #99e2d0;

// ***** Position *****
.align-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

// ***** Header *****
.header {
  padding: 20px 0;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.538);

  #header-logo {
    width: 160px;
    height: auto;
  }
}

// ***** Section localisation *****
.loca-section {
  padding: 20px 0;
  background-color: rgba(232, 232, 232, 0.763);
  gap: 20px;
  box-shadow: 0px 5px 3px #000000;
}

// ***** Réservation *****
.reserv-section {
  padding: 40px 35px;
  text-align: center;
  background-color: rgba(243, 243, 243, 0.946);

  .reserv-title {
    margin-bottom: 15px;
  }

  .reserv-subtitle {
    margin-bottom: 30px;
  }

  .btn-reserv {
    padding: 15px 20px;
    background-image: linear-gradient(180deg, $pink, $purple);
    color: white;
    border: none;
    border-radius: 50px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.37);
    cursor: pointer;
  }
}

// ***** Fonctionnement *****

.fonction-section {
  padding: 50px 20px;

  .fonction-card-container {
    margin-top: 30px;
    gap: 25px;

    .fonction-card {
      width: 95%;
      height: 70px;
      border-radius: 18px;
      background-color: rgba(243, 243, 243, 0.946);
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.37);
    }

    .align-center {
      justify-content: flex-start;
      gap: 20px;
    }

    .fonction-number {
      width: 20px;
      height: 20px;
      margin-left: -10px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50px;
      color: white;
      font-size: 0.8em;
      background-color: $purple;
    }
  }
}

// ***** Restaurants *****

.restaurant-container {
  padding: 50px 0;
  background-color: rgba(243, 243, 243, 0.946);

  .restaurant-title {
    margin-bottom: 20px;
  }

  a {
    text-decoration: none;
    color: inherit;
  }
}

.restaurant-card {
  position: relative;
  width: 90%;
  margin-bottom: 20px;
  background-color: white;
  border-radius: 18px;
  overflow: hidden;

  .new-icon {
    z-index: 10;
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 10px;
    border-radius: 8px;
  }

  .img-card {
    width: 100%;
    height: auto;
  }

  .card-txt {
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .card-title {
      margin-bottom: 5px;
      font-size: 1.2em;
    }

    .card-subtitle {
      margin-bottom: 5px;
      font-size: 1.1em;
    }

    i {
      z-index: 10;
      font-size: 28px;
    }

    i:hover {
      color: $pink;
    }
  }
}

// ***** Footer *****

.footer-container {
  padding: 20px;
  color: white;
  background-color: #353535;

  .footer-logo {
    margin-bottom: 20px;
  }

  .footer-links {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .footer-txt {
    display: flex;
    justify-content: flex-start;
    gap: 15px;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  a:hover {
    text-decoration: underline;
    text-underline-offset: 3px;
  }
}
