* {
  margin: 0;
  font-family: "Roboto", serif;
  box-sizing: border-box;
}

.title {
  font-weight: bold;
}

.title-logo {
  font-family: "Shrikhand", serif;
  font-weight: lighter;
  font-size: 1.2em;
}

.subtitle {
  font-weight: lighter;
}

.align-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loader {
  z-index: 999;
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  transition: opacity 1s ease-in-out;
  animation: loader-fade 1.5s forwards;
}
.loader .dot {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  margin-right: 15px;
  box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.282);
  animation: loader-dot infinite 0.4s alternate;
}
.loader .d1 {
  background-color: #9356dc;
  animation-delay: 0.1s;
}
.loader .d2 {
  background-color: white;
  animation-delay: 0.3s;
}
.loader .d3 {
  background-color: #ff79da;
  animation-delay: 0.5s;
}

@keyframes loader-fade {
  0% {
    opacity: 1;
  }
  95% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
@keyframes loader-dot {
  100% {
    transform: translateY(-30px);
  }
}
.header {
  padding: 20px 0;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.538);
}
.header #header-logo {
  width: 160px;
  height: auto;
}

.loca-section {
  padding: 20px 0;
  background-color: rgba(232, 232, 232, 0.763);
  gap: 20px;
  box-shadow: 0px 5px 3px #000000;
}
.loca-section .loca-title {
  cursor: pointer;
}
.loca-section .loca-title:hover {
  text-decoration: underline;
}

.reserv-section {
  padding: 40px 35px;
  text-align: center;
  background-color: rgba(243, 243, 243, 0.946);
}
.reserv-section .reserv-title {
  margin-bottom: 15px;
}
.reserv-section .reserv-subtitle {
  margin-bottom: 30px;
}
.reserv-section .btn-reserv {
  padding: 15px 20px;
  background-image: linear-gradient(180deg, #ff79da, #9356dc);
  color: white;
  border: none;
  border-radius: 50px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.37);
  cursor: pointer;
}
.reserv-section .btn-reserv:hover {
  background-image: linear-gradient(180deg, rgb(255, 136.3, 222.2246268657), rgb(155.1, 98.675, 222.625));
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.499);
}

.fonction-section {
  padding: 50px 20px;
}
.fonction-section .fonction-card-container {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
.fonction-section .fonction-card-container .fonction-card {
  width: 95%;
  height: 70px;
  border-radius: 18px;
  background-color: rgba(243, 243, 243, 0.946);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.37);
}
.fonction-section .fonction-card-container .align-center {
  justify-content: flex-start;
  gap: 20px;
}
.fonction-section .fonction-card-container .fonction-number {
  width: 20px;
  height: 20px;
  margin-left: -10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  color: white;
  font-size: 0.8em;
  background-color: #9356dc;
}
.fonction-section .fonction-card-container .fonction-icon {
  color: grey;
}
.fonction-section .fonction-card-container .fonction-icon:hover {
  color: #9356dc;
}

.restaurant-container {
  padding: 50px 0;
  background-color: rgba(243, 243, 243, 0.946);
}
.restaurant-container .restaurant-title {
  padding: 20px;
}
.restaurant-container a {
  text-decoration: none;
  color: inherit;
}

.restaurant-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.restaurant-card {
  position: relative;
  width: 90vw;
  height: 250px;
  margin-bottom: 20px;
  background-color: white;
  border-radius: 18px;
  overflow: hidden;
}
.restaurant-card .new-icon {
  z-index: 10;
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 10px;
  border-radius: 8px;
}
.restaurant-card .img-card {
  width: 100%;
  height: 170px;
  object-fit: cover;
}
.restaurant-card .card-txt {
  width: 100%;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.restaurant-card .card-txt .card-title {
  margin-bottom: 5px;
  font-size: 1.2em;
}
.restaurant-card .card-txt .card-subtitle {
  margin-bottom: 5px;
  font-size: 1.1em;
}
.restaurant-card .card-txt i {
  z-index: 10;
  font-size: 28px;
}
.restaurant-card .card-txt i:hover {
  color: #ff79da;
}

.footer-container {
  padding: 20px;
  color: white;
  background-color: #353535;
}
.footer-container .footer-logo {
  margin-bottom: 20px;
}
.footer-container .footer-links {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer-container .footer-txt {
  display: flex;
  justify-content: flex-start;
  gap: 15px;
}
.footer-container a {
  text-decoration: none;
  color: inherit;
}
.footer-container a:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
}

@media screen and (min-width: 768px) {
  .fonction-section {
    width: 80%;
    margin: 30px auto;
  }
  .fonction-section .fonction-card-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .fonction-section .fonction-card-container .align-center {
    gap: 15px;
  }
  .restaurant-container {
    padding: 50px auto;
    margin: 0 auto;
  }
  .restaurant-container .restaurant-cards {
    display: grid;
    grid-template-columns: repeat(2, 0fr);
    place-items: center;
    gap: 40px;
  }
  .restaurant-container .restaurant-card {
    height: auto;
    width: 44vw;
    min-width: 300px;
    box-sizing: border-box;
    overflow: hidden;
  }
  .restaurant-container .img-card {
    height: 130px;
  }
  .footer-container {
    padding: 40px 20px 20px 20px;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    gap: 60px;
    font-size: 0.8em;
  }
  .footer-container .footer-logo {
    margin-bottom: 0;
  }
  .footer-container .footer-txt {
    gap: 5px;
  }
  .footer-container .footer-links {
    flex-direction: row;
  }
}

/*# sourceMappingURL=style.css.map */
